body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0e677a;
  background-image: linear-gradient(to top right, #086a70, #116581);  
}

.introContaiter {
  position: absolute;
  top: 50%;
  left: 50%;
}

.introContaiter .logo {
  position: absolute;
  width: 122px;
  height: 142px;
  top: -120px;
  left: -61px;
  background-image: url('logo.png');
}

.introContaiter .message {
  position: absolute;
  color: #fff;
  width: 300px;
  top: 30px;
  left: -150px;
  text-align: center;
  font-size: 25px;
}

.widget {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 355px);
  width: 711px;
  height: 505px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.widget > .header {
  width: 100%;
  height: 46px;
  line-height: 46px;
  color: #009549;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.widget .sections {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.widget .section {
  width: 100%;
}

.widget .section > .header {
  width: calc(100% - 30px);
  height: 36px;
  line-height: 36px;
  border-top: 1px solid #e8eae9;
  border-bottom: 1px solid #e8eae9;
  color: #59b380;
  font-size: 16px;
  font-weight: bold;
  background-color: #f2f7f4;
  padding: 0 15px 0 15px;
}

.widget .section > .data {
  width: calc(100% - 10px);
  display: table;
  border-spacing: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.widget .section > .data .itemsRow {
  display: table-row;
  
}

.widget .section > .data .itemCell {
  display: table-cell;
}

.widget .itemCell > .label {
  color: #848484;
  font-size: 13px;
  margin-bottom: 5px;
}

.widget .itemCell > .label > .inputRequired {
  color: red;
  font-size: 16px;
}

.widget .itemCell > .inputFrame {
  position: relative;
  width: calc(100% - 10px);
  height: 45px;
  border: 1px solid #e8eae9;
  border-radius: 3px;
  color: #434343;
  padding-left: 10px;
  font-size: 18px;
}

.widget .itemCell > .inputFrame .currency {
  line-height: 47px;
  color: #434343;
  font-size: 18px;
  margin-right: 5px; 
}

.widget .itemCell > .inputFrame .input {
  position: absolute;
  height: 45px;
  width: calc(100% - 20px);
  line-height: 45px;
  border: 0;
  color: #434343;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
}

.widget .itemCell > .inputFrame .inputWithCurrency {
  width: calc(100% - 55px);
}

.widget .itemCell > .inputFrame .inputWithShortCurrency {
  width: calc(100% - 35px);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
